{% extends 'base.html' %}

{% block container %}



<body  background="/static/images/opacity_50.png" , style ="background-size: cover;">
    <div class="container m-3 p-5">
        <h3> About Project </h3>

    <br>
        <p>
A project based on machine learning technology
 was developed for processing satellite images
            of the GeoTiff format.. </p>
    <p>
The algorithm extracts metadata from the image, and using
the technology of deep convolutional neural networks,
it classifies objects  of the territory, segmentation
and calculates their area.
        </p>


    </div>
    <div class="container mt-3 p-3">

        <div class='row'>

            <div class="col-2" align="center"  >
                <footer>
                <a href="/" class="btn btn-outline-dark btn-sm">BACK</a>
                </footer>
            </div>
        </div>

    </div>


</body>


{% endblock %}