<p>
    {% extends 'base.html' %}
    {% block container %}

    <style>

   body { background-image: url(static/images/opacity_150.png);
   background-size: cover;background-repeat: no-repeat;
   }

   table {background-color: #FFFFFF;}
   footer {background-color : #F8F8FF}



    </style>

<body>

<div class='container p-3 m-4'>
</div>
<div class ='container p-3 m-3'>
    <div class = 'row'>
        <div class="col-1"></div>
        <div class = "col-5", align = "center">

<table class="table p-2 m-2">
    <thead>
    <tr>

        <th align="center"> Image date</th>


        <th> Show it!</th>
    <tr>
    </thead>
    <tbody>


    {% for i in df %}

    <tr>

        <td>{{ i[2] }}</td>


        <td><a href = '/map/{{i[12]}}'>{{i[1]}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>
<div class='container m-4 p-4'>
</div>
</body>


    <div class="container mt-5 p-5">

        <div class='row'>

            <div class="col-2" align="center"  >

                <a href="/" class="btn btn-outline-dark btn-sm">BACK</a>

            </div>
        </div>

    </div>





    <div class="container m-3">
        <div class = 'row'>
            <div class="col-6"></div>
            <footer>

            <p align="right">

            </p>

            </footer>
        </div>
    </div>



{% endblock %}
